.layout {
  height: 100vh;
  display: flex;
  background-color: var(--NeutralsColors-200);
  padding: var(--g-small) var(--g-small) var(--g-small) 0;
}

.sidebar {
  display: flex;
  width: var(--sidebar-width);
  padding: var(--g-medium) var(--g-medium) var(--g-defaul) var(--g-medium);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;

  .sidebar-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--g-extra-large);
    align-self: stretch;

    .sidebar-top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--g-medium);
      align-self: stretch;

      .sidebar-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .user-account {
          display: flex;
          align-items: center;
          gap: var(--g-extra-small);

          .circle-avatar {
            display: flex;
            height: 60px;
            width: 50px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            overflow: hidden;

            .img-avatar {
              height: auto;
              width: 100%;
              object-fit: cover;
            }
          }

          .user-name {
            font-size: var(--f-w-medium);
            color: var(--NeutralsColors-800);
          }
        }

        .action-menu {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: var(--g-small);
          color: var(--NeutralsColors-600);
        }
      }

      .search-box {
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: var(--g-extra-small);
        border: 1px solid var(--NeutralsColors-300, #F0F2F5);
        box-shadow: 0px 1px 3px 0px rgba(25, 33, 61, 0.10);
        background-color: var(--Primary-Colors-500);
        padding: var(--g-extra-small) var(--g-extra-small) var(--g-extra-small) var(--g-small);

        .search-box__icon {
          width: var(--space-5);
          height: var(--space-5);
          flex-shrink: 0;
        }

        .search-box__input {
          background-color: var(--Primary-Colors-500);
          border: none;
          outline: none;
          flex-grow: 1;
        }

      }
    }

    .sidebar-section {
      width: 100%;

      .sidebar-menu {
        .sidebar-menu__item {
          border-radius: var(--g-extra-small);
          border: 1px solid transparent;

          &.sidebar-menu__item--active {
            background-color: var(--Primary-Colors-500);
            border: 1px solid var(--NeutralsColors-300);
            box-shadow: 0 1px 3px 0 rgba(25, 33, 61, 0.10);

            .sidebar-menu__link {
              color: var(--NeutralsColors-800);
            }
          }

          &:hover {
            border-color: var(--NeutralsColors-300);
            box-shadow: 0 1px 3px 0 rgba(25, 33, 61, 0.10);
          }
        }

        .sidebar-menu__link {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: var(--space-3);
          padding: var(--space-3) var(--space-3) var(--space-3) var(--space-4);
          color: var(--NeutralsColors-600);

          .sidebar-menu__text {
            flex-grow: 1;
          }
        }
      }
    }
  }
}



