.layout {
  height: 100vh;
  display: flex;
  background-color: var(--NeutralsColors-200);
  padding: var(--g-small) var(--g-small) var(--g-small) 0px;
}

.sidebar {
  display: flex;
  width: var(--sidebar-width);
  padding: var(--g-medium) var(--g-medium) var(--g-defaul) var(--g-medium);
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  align-self: stretch;

  .sidebar-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--g-extra-large);
    align-self: stretch;
    overflow: hidden;

    .sidebar-top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--g-medium);
      align-self: stretch;

      .sidebar-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .user-account {
          display: flex;
          align-items: center;
          gap: var(--g-extra-small);

          .circle-avatar {
            display: flex;
            height: 60px;
            width: 50px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            overflow: hidden;

            .img-avatar {
              height: auto;
              width: 100%;
              object-fit: cover;
            }
          }

          .user-name {
            font-size: var(--f-w-medium);
            color: var(--NeutralsColors-800);
          }
        }

        .action-menu {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: var(--g-small);
          color: var(--NeutralsColors-600);
        }
      }

      .search-box {
        width: 100%;

        border-radius: var(--g-extra-small);
        border: 1px solid var(--NeutralsColors-300, #F0F2F5);
        box-shadow: 0px 1px 3px 0px rgba(25, 33, 61, 0.10);
        background-color: var(--Primary-Colors-500);
        padding: var(--g-extra-small) var(--g-extra-small) var(--g-extra-small) var(--g-small);

        .search-box__input-wrapper{
          display: flex;
          align-items: center;
          cursor: text;
        }
        .search-box__icon {
          width: var(--space-5);
          height: var(--space-5);
          flex-shrink: 0;
        }

        .search-box__input {
          background-color: var(--Primary-Colors-500);
          border: none;
          outline: none;
          flex-grow: 1;
        }

      }
    }

    .sidebar-section {
      display: flex;
      flex-direction: column;
      width: 100%;

      &.sidebar-history {
        overflow: hidden;
      }

      .sidebar-title {
        text-transform: uppercase;
        font-size: var(--font-p-extra-small);
        padding-left: var(--space-4);
        margin-bottom: var(--space-4);
        color: var(--NeutralsColors-500);
      }

      .sidebar-menu {
        overflow-y: auto;

        .sidebar-menu__item {
          border-radius: var(--g-extra-small);
          border: 1px solid transparent;

          &.sidebar-menu__item--active {
            background-color: var(--Primary-Colors-500);
            border: 1px solid var(--NeutralsColors-300);
            box-shadow: 0 1px 3px 0 rgba(25, 33, 61, 0.10);

            .sidebar-menu__link {
              color: var(--NeutralsColors-800);
            }
          }

          &:hover {
            border-color: var(--NeutralsColors-300);
            box-shadow: 0 1px 3px 0 rgba(25, 33, 61, 0.10);
          }
        }

        .sidebar-menu__link {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: var(--space-3);
          padding: var(--space-3) var(--space-3) var(--space-3) var(--space-4);
          color: var(--NeutralsColors-600);

          .sidebar-menu__text {
            height: var(--space-8);
            line-height: var(--space-8);
            flex-grow: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.main {
  width: 100%;
  height: 100%;
  border-radius: var(--space-5);
  border: 1px solid var(--NeutralsColors-300);
  overflow: hidden;
  background: var(--Primary-Colors-500);
  box-shadow: 0 1px 3px 0 rgba(25, 33, 61, 0.10);

  display: flex;
  flex-direction: column;

  .top-bar {
    padding: var(--g-small);
    border-bottom: 1px solid var(--NeutralsColors-300);
    display: flex;
    justify-content: space-between;

    .top-bar__title {
      display: flex;
      align-items: center;
      gap: var(--g-small);

      .top-bar__label {
      }

      .model-name {
      }
    }

    .top-bar__actions {
      display: flex;
      gap: var(--g-small);
    }
  }

  .chat-wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--g-small);
    flex-grow: 1;
    overflow: hidden;

    .chat-body {
      display: flex;
      flex-direction: column;
      gap: var(--space-6);
      flex-grow: 1;
      overflow-y: auto;

      .chat-message {
        display: flex;
        flex-direction: column;
        padding: var(--space-4);
        border: 1px solid transparent;
        border-radius: var(--g-extra-small);

        &.chat-message--user {
          border: 1px solid var(--NeutralsColors-200);
          text-align: right;
          /*align-self: flex-end;*/
        }

        &.chat-message--bot {
          border: 1px solid var(--NeutralsColors-400);
        }

        .message-content {
          display: flex;
          flex-direction: column;
          gap: var(--space-3);
          .message-text {

          }
        }

        .message-actions {
          padding: 5px 0 0 0;
        }
      }
    }

    .prompt-form {
      width: 100%;
      margin-inline: auto;
      max-width: 640px;
      border: 1px solid var(--NeutralsColors-500);
      border-radius: var(--g-extra-small);
      padding: var(--space-4);
      background-color: var(--Primary-Colors-500);

      .prompt-textarea {
        width: 100%;
        border: none;
        outline: none;
        resize: none;
        height: 60px;
        font-size: var(--font-p-default);
        color: var(--NeutralsColors-800);
        line-height: var(--lh-loose);
      }

      .prompt-toolbar {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid var(--NeutralsColors-500);
        padding-top: var(--space-4);
        margin-top: var(--space-4);

        .toolbar-actions {
        }
      }
    }
  }
}



