html, textarea{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.display-10 {
  font-size: var(--font-display-10);
  line-height: var(--lh-tight);
}

.display-9 {
  font-size: var(--font-display-9);
  line-height: var(--lh-tight);
}

.display-8 {
  font-size: var(--font-display-8);
  line-height: var(--lh-normal);
}

.display-7 {
  font-size: var(--font-display-7);
  line-height: var(--lh-normal);
}

.display-6 {
  font-size: var(--font-display-6);
  line-height: var(--lh-normal);
}

.display-5 {
  font-size: var(--font-display-5);
  line-height: var(--lh-normal);
}

.display-4 {
  font-size: var(--font-display-4);
  line-height: var(--lh-normal);
}

.display-3 {
  font-size: var(--font-display-3);
  line-height: var(--lh-normal);
}

.display-2 {
  font-size: var(--font-display-2);
  line-height: var(--lh-normal);
}

.display-1 {
  font-size: var(--font-display-1);
  line-height: var(--lh-normal);
}

.p-large {
  font-size: var(--font-p-large);
  line-height: var(--lh-loose);
}

.p-default {
  font-size: var(--font-p-default);
  line-height: var(--lh-loose);
}

.p-small {
  font-size: var(--font-p-small);
  line-height: var(--lh-loose);
}

/*Font Weights*/

.f-regular {
  font-weight: var(--f-w-regular);
}

.f-semi-bold {
  font-weight: var(--f-w-semi-bold);
}

.f-bold {
  font-weight: var(--f-w-bold);
}

.f-extra-bold {
  font-weight: var(--f-w-extra-bold);
}

.button {
  display: flex;
  gap: var(--space-3);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  height: 42px;
  min-width: 42px;
  position: relative;
  font-size: var(--font-display-1);
  font-weight: var(--f-w-medium);
  padding: var(--space-4) var(--space-5);

  .button__icon {
    width: var(--space-5);
    height: var(--space-5);
  }

  &.button-primary {
    background: var(--Primary-Colors-100);
    color: var(--Primary-Colors-500);
    border: 1px solid var(--Primary-Colors-100);
    transition: all 0.5s ease;

    &:hover {
      background: var(--NeutralsColors-700);
      box-shadow: 0 1px 3px 0 rgba(25, 33, 61, 0.10);
    }
  }
}

.svg__icon {
  width: 1em;
  height: 1em;
}

.badge {
  height: var(--space-8);
  background: var(--NeutralsColors-200);
  box-shadow: 0px 1px 3px 0px rgba(25, 33, 61, 0.10);
  display: flex;
  padding: var(--space-2);
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  border-radius: var(--space-2);
  color: var(--NeutralsColors-800);
}

.icon-button{
  height: var(--space-12);
  width: var(--space-12);
  border: unset;
  background: unset;
  cursor: pointer;
  svg{
    width: var(--space-5);
    height: var(--space-5);
  }
}